$button-two-step-border-bg-collor: #fff;

// !Кольори
$black-1: #262626;
$white-1: #fff;

// !Шрифти
$R-light: Raleway-Light, sans-serif;
$R-bold: Raleway-bold, sans-serif;
$R-heavy: Raleway-Heavy, sans-serif;
