// ! Імпорт шрифтів
@import "font-face.scss";
// ! Імпорт зміних
@import "variables.scss";

// !Стиля для загальних блоків
* {
  transition: all 0.2s ease-in-out;
}
.section {
  width: 100%;
  height: 100vh;
  @media (min-width: 426px) and (max-width: 1024px) {
    height: auto;
  }
  @media (max-width: 425px) {
    height: auto;
  }
}
.title-h1 {
  font-family: $R-bold;
  font-size: 90px;
  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 50px;
    text-align: center;
  }
  @media (max-width: 767px) {
    font-size: 50px;
    text-align: center;
  }
  &--white {
    color: $white-1;
  }
  &--black {
    color: $black-1;
  }
}
.description {
  max-width: 375px;
  font-family: $R-light;
  font-size: 17px;
  font-weight: 300;
  @media (min-width: 768px) and (max-width: 1024px) {
    text-align: justify;
  }
  @media (max-width: 767px) {
    text-align: justify;
  }
  &--black {
    color: $black-1;
  }
  &--white {
    color: $white-1;
  }
}
.basic-button {
  cursor: pointer;
  padding: 11px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: $white-1;
  font-family: $R-light;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid transparent;
  &:hover {
    border-color: rgba(255, 255, 255, 0.6);
  }
  &--orange {
    background-color: #ff6033;
  }
  &--purple {
    background-color: #5585a2;
  }
}
.main-menu {
  &__list {
    display: flex;
    @media (min-width: 768px) and (max-width: 1024px) {
      display: none;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__link {
    margin-right: 20px;
    padding-top: 10px;
    color: $black-1;
    font-family: $R-bold;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-top: 2px solid transparent;
    &:hover {
      border-top: 2px solid #ff6033;
    }
    &--active {
      border-color: #ff6033;
    }
  }
}
.basic-logo {
  font-family: Pacifico;
  &--black {
    color: $black-1;
  }
}
.burger {
  display: none;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  margin-right: 10px;
  position: relative;
  width: 40px;
  height: 25px;
  @media (min-width: 768px) and (max-width: 1024px) {
    display: block;
  }
  @media (max-width: 767px) {
    display: block;
  }
  &:hover &__line--top {
    transform: rotate(30deg) scaleX(1.1);
    transition-delay: 0.3s;
  }
  &:hover &__line--middle {
    transform: translateY(-50%) translateX(-100%);
    transition-delay: 0s;
  }
  &:hover &__line--bottom {
    transform: rotate(-30deg) scaleX(1.1);
    transition-delay: 0.3s;
  }
  &__line {
    width: 100%;
    height: 2px;
    display: block;
    background-color: $black-1;
    position: absolute;
    left: 0;
    transform-origin: left;
    &--top {
      transform: rotate(0deg) scaleX(1);
      transition-delay: 0;
      top: 0;
    }
    &--middle {
      top: 50%;
      transform: translateY(-50%) translateX(0);
      transition-delay: 0.3s;
    }
    &--bottom {
      transform: rotate(0deg) scaleX(1);
      transition-delay: 0;

      bottom: 0;
    }
  }
}
// !Стиля для секції header
.header {
  height: 100vh;
  background-image: url("../assets-cahhe/img/header/bg.jpg");
  background-position: center top;
  &__top-container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  &__top-line {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
  }
  &__logo {
    font-size: 50px;
    font-weight: 400;
  }
  &__content-conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
  }
  &__title {
    color: $black-1;
    font-family: $R-heavy;
    font-size: 60px;
    margin-bottom: 20px;
  }
  &__button {
    margin-top: 25px;
  }
}
// !Стиля для секції About Us
.about-us {
  display: flex;
  align-items: center;
  background-color: #00c4c4;
  background-image: radial-gradient(
    circle 1125px at center,
    rgba(0, 196, 196, 0.9) 0%,
    rgba(0, 183, 183, 0.9) 32%,
    rgba(0, 173, 173, 0.9) 68%,
    rgba(0, 156, 156, 0.9) 100%
  );
  @media (min-width: 426px) and (max-width: 1024px) {
  }
  @media (max-width: 425px) {
    height: auto;
  }
  &__conteiner {
    max-width: 1200px;
    width: 80%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 426px) and (max-width: 1024px) {
      justify-content: space-around;
      padding: 20px 30px;
    }
    @media (max-width: 425px) {
      justify-content: center;
      padding: 20px 30px;
    }
  }
  &__img-box {
    width: 55%;
    @media (min-width: 536px) and (max-width: 1024px) {
      width: 45%;
    }
    @media (max-width: 535px) {
      width: 90%;
    }
  }
  &__img {
    width: 100%;
  }
  &__description {
    max-width: 400px;
    width: 50%;
    @media (min-width: 536px) and (max-width: 1024px) {
      width: 45%;
    }
    @media (max-width: 535px) {
      width: 90%;
    }
  }
}
// !Стиля для секції Our Services
.services {
  background-color: #70bfff;
  display: flex;
  align-items: center;
  @media (min-width: 536px) and (max-width: 1024px) {
  }
  @media (max-width: 535px) {
    padding: 20px 0;
  }
  &__conteiner {
    max-width: 1200px;
    width: 80%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 536px) and (max-width: 1024px) {
      width: 90%;
      justify-content: space-between;
      align-items: center;
      padding: 40px 15px;
    }
    @media (max-width: 535px) {
      justify-content: center;
      align-items: center;
    }
  }
  &__img-box {
    position: relative;
    width: 45%;
    @media (min-width: 536px) and (max-width: 1024px) {
      width: 45%;
    }
    @media (max-width: 535px) {
      margin-top: 20px;
      width: 100%;
    }
  }
  &__img {
    width: 100%;
  }
  &__title {
    width: 125%;
    position: absolute;
    top: 45%;
    left: -20%;
    transform: translateY(-50%);
    @media (min-width: 536px) and (max-width: 1024px) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @media (max-width: 535px) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.services-menu {
  width: 34%;
  @media (min-width: 536px) and (max-width: 1024px) {
    width: 50%;
  }
  @media (max-width: 535px) {
    width: 100%;
  }
  &__link {
    height: 100px;
    width: 100%;
    margin-top: 20px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    background-color: $white-1;
    @media (min-width: 536px) and (max-width: 1024px) {
      height: 70px;
    }
    @media (max-width: 535px) {
      height: 70px;
    }
    &:hover {
      background-color: #fdfb6c;
    }
  }
  &__item {
    width: 75%;
    color: $black-1;
    font-family: $R-bold;
    font-size: 20px;
    text-align: center;
    @media (min-width: 536px) and (max-width: 1024px) {
      font-size: 15px;
    }
    @media (max-width: 535px) {
      font-size: 15px;
    }
  }
  &__icon {
    position: relative;
    border-left: 1px solid #000;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__svg {
    width: 50%;
  }
}
// !Стиля для секції Gallery
.gallery {
  padding: 30px 0;
  background-color: #ffe92f;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 50px;
  }

  &__description {
    text-align: center;
    margin: 20px 0;
  }

  &__cconteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    width: 78%;
    padding: 0 15px;
  }

  &__img-box {
    margin-bottom: 30px;
    &--size-L {
      width: 65.8119%;
    }
    &--size-S {
      width: 31.6239%;
    }
    &--size-M {
      width: 48.7179%;
    }
  }
  &__img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
  }
}

// !Стиля для секції Subscribe To Us

// !Стиля для секції Blog

// !Стиля для секції Contact

// !Стиля для секції footer
