.how-it-works {
  height: 337px;
  background-color: #333333;
  @include mobile {
    @include flex_column_center;
    height: calc(100vh - 80px);
    min-height: 550px;
  }
  @include tablets {
    @include flex_column_center;
    height: 100vh;
    min-height: 850px;
  }
  &__conteiner {
    position: relative;
    height: 100%;
    @include flex_row_center;
    justify-content: space-between;
    padding: 0 110.5px;
    @include mobile {
      @include flex_column_center;
      max-height: 550px;
      align-content: space-between;
      justify-content: space-between;
      padding: 0 15px;
    }
    @include tablets {
      @include flex_column_center;
      max-height: 750px;
      align-content: space-between;
      justify-content: space-between;
    }
  }
  &__column {
    max-width: 220px;
    @include flex_column_center;
    color: $white-2;
    font-family: "Aleo", serif;
    font-size: 36px;
    text-align: center;
    @include mobile {
      font-size: 30px;
      width: 100%;
      z-index: 2;
      background-color: #333333;
      padding: 0 0 10px 0;
    }
    @include tablets {
      width: 100%;
      z-index: 2;
      background-color: #333333;
      padding: 0 0 10px 0;
    }
    &:nth-child(2) {
      &::before,
      &::after {
        z-index: 1;
        transform: translateX(-100%);
        border-radius: 50%;
        position: absolute;
        left: calc(575 / 1200 * 100%);
        top: calc(235 / 1200 * 100%);
        content: "";
        display: block;
        width: calc(333 / 1200 * 100%);
        height: 200px;
        border-top: 2px dotted #ffffff;
        opacity: 0.5;
        @include mobile {
          border-top: none;
          border-left: 2px dotted #ffffff;
          transform: translateY(100%);
          border-radius: 0;
          left: 50%;
          top: 110px;
          width: calc(333 / 1200 * 100%);
          height: 50px;
        }
        @include tablets {
          border-top: none;
          border-left: 2px dotted #ffffff;
          transform: translateY(100%);
          border-radius: 0;
          left: 50%;
          top: 10px;
          width: calc(333 / 1200 * 100%);
          height: 165px;
        }
      }
      &::after {
        transform: translateX(100%);
        left: calc(290 / 1200 * 100%);
        @include mobile {
          left: 50%;
          transform: translateY(280%);
          top: 220px;
        }
        @include tablets {
          left: 50%;
          transform: translateY(280%);
        }
      }
    }
  }
  &__icon {
    padding: 18px 1px 13px;
    position: relative;
    z-index: 2;
    background-color: #333333;

    font-size: 72px;
    &--search {
      color: #5474fd;
    }
    &--recomend {
      color: #ff6363;
    }
    &--like {
      color: #00a2ff;
    }
  }
}
