html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

input,
button {
  outline: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "hanskendrick";
  font-display: swap;
  src: url("./assets/fonts/hanskendrick.woff") format("woff"), url("./assets/fonts/hanskendrick.woff2") format("woff2"); }

@font-face {
  font-family: "icomoon";
  font-display: swap;
  src: url("./assets/fonts/icomoon.woff") format("woff"), url("./assets/fonts/icomoon.woff2") format("woff2"); }

@font-face {
  font-family: 'icomoon';
  src: url("./assets/fonts/icomoon/icomoon.eot?vl3e5h");
  src: url("./assets/fonts/icomoon/icomoon.eot?vl3e5h#iefix") format("embedded-opentype"), url("./assets/fonts/icomoon/icomoon.ttf?vl3e5h") format("truetype"), url("./assets/fonts/icomoon/icomoon.woff?vl3e5h") format("woff"), url("./assets/fonts/icomoon/icomoon.svg?vl3e5h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-heart:before {
  content: "\e90b"; }

.icon-diamonds:before {
  content: "\e907"; }

.icon-cards:before {
  content: "\e907"; }

.icon-poker:before {
  content: "\e907"; }

.icon-clubs:before {
  content: "\e908"; }

.icon-cards1:before {
  content: "\e908"; }

.icon-poker1:before {
  content: "\e908"; }

.icon-spades:before {
  content: "\e909"; }

.icon-cards2:before {
  content: "\e909"; }

.icon-poker2:before {
  content: "\e909"; }

.basicBtn {
  width: 200px;
  position: relative;
  cursor: pointer;
  padding: 12px 43px;
  color: #000;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: auto;
  margin-bottom: 15px; }
  .basicBtn span {
    position: relative;
    display: block;
    z-index: 6;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  .basicBtn::before {
    position: absolute;
    z-index: 5;
    top: 50%;
    -webkit-transform: translateY(-50%) scaleY(0);
    -ms-transform: translateY(-50%) scaleY(0);
    transform: translateY(-50%) scaleY(0);
    left: -2px;
    content: '';
    display: block;
    width: calc(100% + 4px);
    height: 55%;
    background-color: #fff;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  .basicBtn::after {
    z-index: 5;
    position: absolute;
    top: -2px;
    -webkit-transform: translateX(-50%) scaleX(0);
    -ms-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
    left: 50%;
    content: '';
    display: block;
    width: 75%;
    height: calc(100% + 4px);
    background-color: #fff;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit; }
  .basicBtn:hover::before {
    -webkit-transform: translateY(-50%) scaleY(1);
    -ms-transform: translateY(-50%) scaleY(1);
    transform: translateY(-50%) scaleY(1); }
  .basicBtn:hover::after {
    -webkit-transform: translateX(-50%) scaleX(1);
    -ms-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1); }
  .basicBtn:hover span {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  @media (max-width: 480px) {
    .basicBtn {
      width: 100%; } }

.conteiner {
  width: 880px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-perspective: 500px;
  perspective: 500px;
  padding: 15px 15px 0px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px; }

.cardConteiner {
  position: relative;
  width: 85px;
  height: 140px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer; }

.cardConteiner-move {
  -webkit-animation: cardRotate 1s ease-in-out forwards;
  animation: cardRotate 1s ease-in-out forwards; }

.cardConteiner-back {
  -webkit-animation: cardRotateBack 1s ease-in-out both;
  animation: cardRotateBack 1s ease-in-out both; }

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.back {
  background-color: blueviolet;
  background-image: url("./assets/images/cards/s04-cardback_thumb.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.frontSideUp {
  width: 85px;
  height: 70px;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: #eeeeee;
  padding: 7px 7px; }

.frontSideDown {
  width: 85px;
  height: 70px;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: #eeeeee;
  padding: 7px 7px;
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg); }

.cardBtn {
  margin-top: 20px; }

@-webkit-keyframes cardRotate {
  0% {
    -webkit-transform: rotateY(0deg) translateZ(0px);
    transform: rotateY(0deg) translateZ(0px); }
  20% {
    -webkit-transform: rotateY(0deg) translateZ(10px);
    transform: rotateY(0deg) translateZ(10px); }
  80% {
    -webkit-transform: rotateY(180deg) translateZ(-10px);
    transform: rotateY(180deg) translateZ(-10px); }
  100% {
    -webkit-transform: rotateY(180deg) translateZ(0px);
    transform: rotateY(180deg) translateZ(0px); } }

@keyframes cardRotate {
  0% {
    -webkit-transform: rotateY(0deg) translateZ(0px);
    transform: rotateY(0deg) translateZ(0px); }
  20% {
    -webkit-transform: rotateY(0deg) translateZ(10px);
    transform: rotateY(0deg) translateZ(10px); }
  80% {
    -webkit-transform: rotateY(180deg) translateZ(-10px);
    transform: rotateY(180deg) translateZ(-10px); }
  100% {
    -webkit-transform: rotateY(180deg) translateZ(0px);
    transform: rotateY(180deg) translateZ(0px); } }

@-webkit-keyframes cardRotateBack {
  0% {
    -webkit-transform: rotateY(180deg) translateZ(0px);
    transform: rotateY(180deg) translateZ(0px); }
  20% {
    -webkit-transform: rotateY(180deg) translateZ(-10px);
    transform: rotateY(180deg) translateZ(-10px); }
  80% {
    -webkit-transform: rotateY(0deg) translateZ(10px);
    transform: rotateY(0deg) translateZ(10px); }
  100% {
    -webkit-transform: rotateY(0deg) translateZ(0px);
    transform: rotateY(0deg) translateZ(0px); } }

@keyframes cardRotateBack {
  0% {
    -webkit-transform: rotateY(180deg) translateZ(0px);
    transform: rotateY(180deg) translateZ(0px); }
  20% {
    -webkit-transform: rotateY(180deg) translateZ(-10px);
    transform: rotateY(180deg) translateZ(-10px); }
  80% {
    -webkit-transform: rotateY(0deg) translateZ(10px);
    transform: rotateY(0deg) translateZ(10px); }
  100% {
    -webkit-transform: rotateY(0deg) translateZ(0px);
    transform: rotateY(0deg) translateZ(0px); } }

.grid-1__conteiner {
  width: 100%; }

.grid-1__gallery-1 {
  padding: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px; }

.grid-1__imgBx img {
  width: 100%;
  height: 100%; }

.grid-1__imgBx--big {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3; }

.grid-1__imgBx--gallery-2 {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 1000ms cubic-bezier(0, 0.7, 0.36, 1.1);
  -o-transition: opacity 1000ms cubic-bezier(0, 0.7, 0.36, 1.1);
  transition: opacity 1000ms cubic-bezier(0, 0.7, 0.36, 1.1); }
  .grid-1__imgBx--gallery-2:hover {
    opacity: unset; }

.grid-1__gallery-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #131313; }

.grid-2 {
  font-family: "hanskendrick", sans-serif;
  background-color: #e2e7ec;
  font-size: 18pt;
  padding: 100px 0; }
  .grid-2__conteiner {
    max-width: 1200px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; }
  .grid-2__column {
    cursor: pointer; }
    .grid-2__column--big {
      position: relative;
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 2;
      grid-column-end: 3;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .grid-2__column--big::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
        background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%); }
      .grid-2__column--big img {
        width: 100%;
        height: 100%; }

.column_title {
  color: #1d1d1d;
  font-size: 1em;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  margin-bottom: 50px; }

.column__imgBx {
  font-size: 0; }
  .column__imgBx img {
    width: 100%;
    height: 100%; }

.column__content {
  padding: 27px;
  height: 290px;
  background-color: #fff; }

.column__date {
  color: #818181;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  margin-bottom: 20px; }

.big__date {
  position: relative;
  z-index: 2;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  margin-left: 46px;
  margin-bottom: 23px; }

.big__title {
  position: relative;
  z-index: 2;
  width: 433px;
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-left: 46px;
  margin-bottom: 40px; }

.big__img {
  position: absolute;
  z-index: 0; }

.grid-1 {
  display: none; }

.grid-2 {
  display: none; }
