@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input,
button {
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: GothamRegular;
  src: url("./assets/fonts/Gotham/GothamRegular.ttf");
}
@font-face {
  font-family: GothamMedium;
  src: url("./assets/fonts/Gotham/GothamMedium.ttf");
}
@font-face {
  font-family: GothamBold;
  src: url("./assets/fonts/Gotham/GothamBold.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("./assets/fonts/Gotham/OpenSansRegular.ttf");
}
@font-face {
  font-family: OpenSansItalic;
  src: url("./assets/fonts/Gotham/OpenSansItalic.ttf");
}
@font-face {
  font-family: "icomoon";
  src: url("./assets/fonts/icomoon/icomoon.eot?5u4vz8");
  src: url("./assets/fonts/icomoon/icomoon.eot?5u4vz8#iefix") format("embedded-opentype"), url("./assets/fonts/icomoon/icomoon.ttf?5u4vz8") format("truetype"), url("./assets/fonts/icomoon/icomoon.woff?5u4vz8") format("woff"), url("./assets/fonts/icomoon/icomoon.svg?5u4vz8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-inbox:before {
  content: "";
}

.icon-clock-o:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-map-marker:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-facebook-f:before {
  content: "";
}

.mainMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.mainMenu__item {
  cursor: pointer;
  margin: 0 34px;
}
.mainMenu__link {
  position: relative;
  color: #ffffff;
  font-family: GothamBook, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
.mainMenu__link::before {
  top: 50%;
  transform: translateY(-50%);
  left: -24px;
  position: absolute;
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
}
.mainMenu__link::after {
  visibility: hidden;
  opacity: 0;
  top: 2px;
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: #ffffff;
  position: absolute;
  left: -19px;
  transform-origin: top;
  transform: rotate(180deg);
  transition: all 0.15s ease-in-out;
}
.mainMenu__link.active::before {
  background-color: #ffffff;
}
.mainMenu__link:hover::after {
  visibility: visible;
  opacity: unset;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.social__item {
  cursor: pointer;
  margin: 0 10px;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}
.social__item:hover {
  border-color: #ffffff;
}
.social__link {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 18px;
}

.slider {
  width: 100%;
  height: 100%;
}
.slider__page {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #4b4b4b;
  background: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
}
.slider__page.active {
  display: flex;
}
.slider__bgImg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}
.slider__content {
  position: relative;
  z-index: 2;
  text-align: center;
}
.slider__title {
  color: #ffffff;
  font-family: GothamBold, sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 35px;
}
.slider__subTitle {
  color: #ffffff;
  font-family: GothamBook, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5.4px;
}

.header {
  height: 100vh;
}
.header__navBar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 1200px;
  margin: 55px 0 0 0;
  padding: 0 15px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__sliderConteiner {
  width: 100%;
  height: 100%;
}

.moveDown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 45px;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  opacity: 0.7;
  border-radius: 50%;
}
.moveDown::before, .moveDown::after {
  position: absolute;
  top: 65%;
  left: 50%;
  transform-origin: left;
  transform: translateX(0) rotate(-45deg);
  content: "";
  background-color: #ffffff;
  display: block;
  width: 10px;
  height: 1px;
}
.moveDown::after {
  transform: translateX(0) rotate(-135deg);
}