._conteiner-1200 {
    max-width: 1280px;
    margin: 0 auto;
}
.logo {
    color: $white-primary;
	font-family: $monteserrat-bold;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.1px;
}