//! Import -- poppins -- fonts
@font-face {
    font-family: 'Poppins-regular';
    src: url('~@/assets/fonts/popins/poppins-regular.ttf');
}
@font-face {
    font-family: 'Poppins-medium';
    src: url('~@/assets/fonts/popins/poppins-medium.ttf');
}
@font-face {
    font-family: 'Poppins-light';
    src: url('~@/assets/fonts/popins/poppins-light.ttf');
}
@font-face {
    font-family: 'Poppins-semi-bold';
    src: url('~@/assets/fonts/popins/poppins-semibold.ttf');
}

//! Import -- Oswald -- font
@font-face {
    font-family: 'Oswald-regular';
    src: url('~@/assets/fonts/oswald/oswald-regular.ttf');
}

//! Import -- Monteserat -- font
@font-face {
    font-family: 'Monteserrat-bold';
    src: url('~@/assets/fonts/montserrat/montserrat-bold.ttf');
}