//! -------- Fonts --------
$poppinsRegular: 'Poppins-regular', sans-serif;
$poppinsLight: 'Poppins-light', sans-serif;
$poppinsMedium: 'Poppins-medium', sans-serif;
$poppinsSemiBold: 'Poppins-semi-bold', sans-serif;
$oswaldRegular: 'Oswald-regular', sans-serif;
$monteserratBold: 'Monteserrat-bold', sans-serif;

//! -------- Colors --------
$defaultThemeColor1st: #464955;
$defaultButtonColor:#3a54d6;
$defoultCardHover:#3a54d6;

$whiteDefault: #ffffff;
$blackDefault: #000000;

$blueDefault: #3a54d6;
$blueSecondary: #27a6ff;

$buttonsDefoult:#3a54d6;

$greyDefoult: #464955;

$silverDefault: rgba(223, 223, 223, 0.5);