body {
  font-family: "Lato", sans-serif;
}
header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/task-2/hero-bg.jpg.png);
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section,
footer {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
}
footer {
  padding: 0;
}
.logo-header {
  font-size: 67px;
  color: #fff;
}
.header-title {
  margin-top: 50px;
  text-align: center;
  width: 591px;
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.62px;
}
.header-description {
  margin-top: 40px;
  color: #ffffff;
  text-align: center;
  width: 579px;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}
.about-us {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-h2 {
  text-align: center;
  width: 315px;
  position: relative;
  font-family: Lato;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
}
.title-h2::before,
.title-h2::after {
  position: absolute;
  top: 50%;
  left: -292px;
  content: "";
  display: block;
  width: 250px;
  height: 2px;
}
.title-h2::after {
  left: 358px;
}
.title-h2--black {
  color: #3c3c3c;
}
.title-h2--white {
  color: #fff;
}
.title-h2--black::before,
.title-h2--black::after {
  background-color: #3c3c3c;
}
.title-h2--white::before,
.title-h2--white::after {
  background-color: #fff;
}
.description {
  margin-top: -20px;
  padding: 70px 178px 30px;
  text-align: center;
  width: 902px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  border: 2px solid #3c3c3c;
  border-top: none;
}
.description span {
  display: block;
}
.description--black {
  border-color: #3c3c3c;
  color: #3c3c3c;
}
.description--white {
  border-color: #fff;
  color: #fff;
}
.services {
  background-image: url(../img/task-2/services.jpg.png);
}
.what-we-do {
  background-image: url(../img/task-2/);
}
.icon {
  margin-top: 35px;
  font-size: 80px;
}
.subtitle {
  margin-top: 55px;
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.26px;
  margin-bottom: 37px;
}
.gallery {
  padding: 0;
}
.gallery-conteiner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img-conteiner {
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
  opacity: 0.85;
}
.img-conteiner:hover {
  opacity: unset;
}
.galerry-img {
  height: 188px;
}
.gallery-title {
  position: absolute;
  top: 120px;
  left: 40px;
  color: #ffffff;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "MArket" */
  letter-spacing: 8.95px;
}
.button {
  margin-top: 40px;
  cursor: pointer;
  width: 395px;
  height: 58px;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.54px;
}
.button:hover {
  background-color: #696969;
}
.footer {
  display: flex;
  align-items: center;
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 70px;
}
.footer-icon {
  font-size: 35px;
  margin-right: 25px;
}
