
.who-we-are {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.who-we-are h2 {
    text-align: center;
    color: #3c3c3c;
    font-family: "Lato Bold", sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 8.95px;
}
.who-we-are h2::after {
    display: block;
    margin: 0 auto;
    width:45px;
    height: 20px;
    border-bottom:4px solid #dddbdb;
    content:"";
}
.who-we-are > p {
    text-align: center;
    width: 561px;
    color: #3c3c3c;
    font-family: "Lato Light", sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.who-we-are .mainUl {
    margin: 60px 0 120px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}
.who-we-are .mainUl li {
    color: #646464;
    color: #282528;
    font-family: "Lato Bold", sans-serif;
    font-size: 18px;
    position: relative;
    width: 268px;
    height: 324px;
    overflow: hidden;
    perspective: 1000px;

}
.who-we-are .mainUl li p {
    margin-top: 280px;
    line-height: 18px;
    width: 120px;
}
.who-we-are .mainUl li > p > span {
    color: #646464;
    font-size: 14px;
    font-family: "Lato Light", sans-serif;
}
.who-we-are .mainUl li .imgBx {
    position: absolute;
    transform-origin: top;
    transform: rotatex(0deg);
    perspective: 1000px:
    transform-style: preserve-3d;
    transition:0.5s;
    transition-delay: 0.2s;
}
.who-we-are .mainUl li:hover .imgBx {
    transform: rotatex(-90deg);
    perspective: 1000px:
    transform-style: preserve-3d;
    opacity: 0;
}
.who-we-are .mainUl li .imgBx img {
    height: 268px;
}
.who-we-are .mainUl li .socialWraper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    height: 268px;
    background-color: #00aed9;
    transform-origin: bottom;
    transform: rotatex(90deg);
    transform-style: preserve-3d;
    transition:0.5s;
    opacity: 0;
}
.who-we-are .mainUl li:hover .socialWraper {
    transform: rotatex(0deg);
    opacity: 1;
    transition-delay: 0.35s;
}
.who-we-are .mainUl li .socialWraper .socialBx > a > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 42px;
    height: 42px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}
.who-we-are .mainUl li .socialWraper .socialBx {
    transition: 0.5s;
    display: flex;
    transform: scale(0,0);
}
.who-we-are .mainUl li:hover .socialWraper .socialBx {
    transform: scale(1,1);
    transition-delay: 0.7s;
}
.who-we-are .mainUl li .socialWraper .socialBx > a:hover div {
    background-color: transparent;
    transform: translateY(-10px);
    transition-delay: 0s;
}