* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: 'Lato', sans-serif;
}
section {
    margin: 130px auto 0 auto;
    width: 1400px;
    height: 940px;
    padding: 120px 130px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
h2 {
    font-family: 'Playfair Display', serif;
    color: #171717;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: -0.21px;
}
p {
    margin-top: 40px;
    opacity: 0.7;
    color: #171717;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.09px;
    line-height: 34px;
}
section p:nth-child(2) span{
    display: block;
    float: left;
    color: #171717;
    font-family: 'Playfair Display', serif;
    font-size: 110px;
    font-weight: 400;
    line-height: 85px;
    margin-right: 35px;
}
section p:nth-child(5) {
    font-style: italic;
    font-size: 24px;
    letter-spacing: -0.12px;
    line-height: 34px;
}
section p:nth-child(5) span {
    font-size: 60px;
    margin-right: 10px;
}
.discover {
    cursor: pointer;
    margin-top: 39px;
    color: #eaa258;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    background-color: transparent;
    width: 264px;
    height: 68px;
    border: 2px solid #eaa258;
    color: #eaa258;
    transition: 0.5s;
}
.discover:hover {
    transition: 0.5s;
    background-color: #eaa258;
    color: #fff;
}