.slider {
	width: 100%;
	height: 100%;
	&__page {
		position: relative;
		overflow: hidden;
		@include flex_column_center;
		display: none;
		width: 100%;
		height: 100%;
		background-color: #4b4b4b;
		background: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
		&.active {
			display: flex;
		}
	}
	&__bgImg {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
	}
	&__content {
		position: relative;
		z-index: 2;
		text-align: center;
	}
	&__title {
		color: $white-001;
		font-family: $GothamBold;
		font-size: 80px;
		text-transform: uppercase;
		letter-spacing: 4px;
		margin-bottom: 35px;
	}
	&__subTitle {
		color: $white-001;
		font-family: $GothamBook;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 5.4px;
	}
}
