.conteiner {
    width: 880px;
    margin: 20px auto;
    border: 2px solid #000;
    display: flex;
    justify-content: space-between;
    perspective: 500px;
    padding: 15px 15px 0px;
    flex-wrap: wrap;
    flex-direction: column;
}
.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.cardConteiner {
    position: relative;
    width: 85px;
    height: 140px;
    transition: all 1s;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    cursor: pointer;
}
.cardConteiner:hover, .active {
    animation: cardRotate 1s ease-in-out forwards;
}
.side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility:hidden;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.front {
    transform: rotateY(180deg);
}
.back {
    background-color: blueviolet;
    background-image: url('./assets/images/s04-cardback_thumb.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.frontSideUp {
    width: 85px;
    height: 70px;
    cursor: pointer;
    transition: all 1s ease-in-out;
    transform-style: preserve-3d;
    background-color: rgb(238, 238, 238);
    padding: 7px 7px;
}
.frontSideDown {
    width: 85px;
    height: 70px;
    cursor: pointer;
    transition: all 1s ease-in-out;
    transform-style: preserve-3d;
    background-color: rgb(238, 238, 238);
    padding: 7px 7px;
    transform: rotateZ(180deg);
}
@keyframes cardRotate {
    0% {
        transform: rotateY(0deg) translateZ(0px);
    }
    20% {
        transform: rotateY(0deg) translateZ(10px);

    }
    80% {
        transform: rotateY(180deg) translateZ(-10px);
    }
    100% {
        transform: rotateY(180deg) translateZ(0px);
    }
}
