._conteiner {
  max-width: 1200px;
  padding: 0 45px;
  margin: 0 auto;
  @include mobile {
    padding: 20px 15px;
  }
  @include tablets {
    padding: 20px 15px;
  }
}
.title {
  color: $white-1;
  font-family: "Aleo", serif;
  font-size: 36px;
  font-weight: 400;
}
.desc {
  color: $white-2;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.5px;
}
.btn {
  cursor: pointer;
  min-width: 150px;
  height: 60px;
  border: 2px solid $white-1;
  background-color: $blue;
  color: $white-1;
  font-family: "Aleo", serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: $blue-h;
  }
  span {
    position: relative;
    z-index: 2;
  }
  &--glass {
    color: $white-1;
    font-family: "Aleo", serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    overflow: hidden;
    position: relative;
    border: none;
    width: 225px;
    height: 60px;
    &::before {
      top: 0;
      left: 0;
      z-index: 1;
      position: absolute;
      content: "";
      display: block;
      background-color: #496bfe;
      width: 200%;
      height: 200%;
      transform: translateX(-200px) rotate(46deg);
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      background-color: $blue;
    }
    &:hover::before {
      transform: translateX(0) rotate(0deg);
    }
  }
}
.main-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: $blue;
  @include mobile {
    position: fixed;
    top: 0;
  }
  @include tablets {
    position: fixed;
    top: 0;
  }
  &__conteiner {
    height: 100%;
    @include flex_row_center;
    justify-content: space-between;
    @include mobile {
      padding: 30px 15px;
      align-items: flex-start;
    }
    @include tablets {
      padding: 30px 30px;
      align-items: flex-start;
    }
  }
  &__title {
    color: $white-1;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.08px;
  }
  &__list {
    height: 100%;
    display: flex;
    margin: 0px -21px 0 0;
    @include mobile {
      background-color: $blue;
      position: absolute;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
      padding: 15px 15px;
      top: 0;
      left: 0;
      width: 100%;
      transform: translateX(-100%);
      transition: all 0.4s ease-in-out;
      &:target {
        transform: translateX(0);
      }
    }
    @include tablets {
      background-color: $blue;
      position: absolute;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
      padding: 30px 30px;
      top: 0;
      left: 0;
      width: 100%;
      transform: translateX(-100%);
      transition: transform 0.4s ease-in-out;
      &:target {
        transform: translateX(0);
      }
    }
  }
  &__item {
    height: 100%;
    @include mobile {
      height: auto;
    }
    @include tablets {
      height: auto;
    }
  }
  &__link {
    display: block;
    @include flex_column_center;
    min-width: 138px;
    height: 100%;
    color: $white-1;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px 21px 0;
    letter-spacing: -0.06px;
    transition: all 0.1s ease-in-out;
    &:hover {
      background-color: $blue-h;
    }
    @include mobile {
      text-align: center;
      font-size: 28px;
      padding: 35px 21px;
    }
    @include tablets {
      font-size: 30px;
      padding: 35px 21px;
    }
    @media (max-width: 810px) {
      padding: 35px 10px;
    }
  }
  &__burger {
    @include flex_column_center;
    display: none;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 25px;
    @include mobile {
      display: flex;
    }
    @include tablets {
      display: flex;
    }
  }
  &__burger-line {
    display: block;
    background-color: $white-1;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    transition: 0.2s;
    transition-delay: 0.3s;
    &::before,
    &::after {
      visibility: visible;
      width: inherit;
      height: inherit;
      display: block;
      content: "";
      position: absolute;
      border-radius: inherit;
      left: 0;
      background-color: inherit;
      transform-origin: left;
      transition: 0.3s;
      transition-delay: 0;
    }
    &::before {
      top: 0;
      transform: translateY(0) rotate(0deg) scaleX(1);
    }
    &::after {
      top: 100%;
      transform: translateY(-100%) rotate(0) scale(1);
    }
  }
  &__mobile-desc {
    @include flex_row_center;
    justify-content: space-between;
    display: none;
    @include mobile {
      display: flex;
    }
    @include tablets {
      display: flex;
    }
  }
  &__mobile-close-link {
    font-size: 35px;
    color: $white-1;
    text-decoration: none;
  }
}
