//! Import Gotham Fotns
@font-face {
	font-family: GothamRegular;
	src: url('./assets/fonts/Gotham/GothamRegular.ttf');
}
@font-face {
	font-family: GothamMedium;
	src: url('./assets/fonts/Gotham/GothamMedium.ttf');
}
@font-face {
	font-family: GothamBold;
	src: url('./assets/fonts/Gotham/GothamBold.ttf');
}

//! Import OpenSans Fotns
@font-face {
	font-family: OpenSansRegular;
	src: url('./assets/fonts/Gotham/OpenSansRegular.ttf');
}
@font-face {
	font-family: OpenSansItalic;
	src: url('./assets/fonts/Gotham/OpenSansItalic.ttf');
}
