.footer {
  color: $white-1;
  background-color: $black-1;
  height: 90px;
  @include mobile {
    height: auto;
  }
  &__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    height: 100%;
    @include mobile {
      height: auto;
      display: flex;
      flex-direction: column;
      padding: 20px 10px;
    }
  }
  &__logo {
    font-size: 25px;
    @include mobile {
      font-size: 20px;
      margin: 10px;
    }
  }
  &__author {
    color: #b9b9b9;
    font-family: $R-light;
    font-size: 15px;
    &--red {
      font-family: $R-bold;
      color: #ff2b58;
    }
  }
  &__all-right {
    color: #b9b9b9;
    font-family: $R-light;
    font-size: 16px;
  }
}
