//  ! Breakpoints
$mobile: 480px;
$tablets-min: 481px;
$tablets-max: 768px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
@mixin tablets {
  @media (min-width: $tablets-min and $tablets-max) {
    @content;
  }
}
