$B-thin: "BebasNeue-Thin", sans-serif;
$B-light: "BebasNeue-Light", sans-serif;
$B-bold: "BebasNeue-Bold", sans-serif;
$B-book: "BebasNeue-Book", sans-serif;
$B-regular: "BebasNeue-Regular", sans-serif;
$R-light: "Roboto-Light", sans-serif;
