// ! color base white: #fff;
$white-1: #fff;

// ! color  white-2: #fff;
$white-2: #e8e8e8;

// ! color  white-3: #fff;
$white-3: #fefefe;

// ! color base black #000;
$black-1: #000;

// ! color base blue #5474fd;
$blue: #5474fd;

// ! color base blue-hover #3f59cc;
$blue-h: #3f59cc;

// ! color place holder #999999;
$silver-1: #999999;
